.carousel {
  width: 100%;
  padding-left: 30px;
  overflow: scroll;
  position: relative;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}
.carousel__container {
  white-space: nowrap;
  margin: 70px 0 50px;
  padding-bottom: 10px;
}